*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
}

main{
    background-color: #CEAB93;
}
.logo img{
    width: 6rem;
    height: 6rem;
    margin-left: .3125rem ;
}
.haderIndex{
    display: flex;
    justify-content: space-between;
    background-color: #AD8B73; 
}

.navBar{
    list-style: none;
    display: flex;
    gap: 1.25rem;
    align-items: center; 
    padding: 1.875rem;
    border: 1px ;
    border-radius: 3.125rem;
    margin-right: 1.25rem;
    margin-top: .625rem;
    background-color:#CEAB93;

}
.navBar a{
    text-decoration: none;

    color: #FFFBE9;

}
.navBar a:hover{
    color: #d47e41;
}


.titulo h1{    
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #AD8B73;
    padding: 1.25rem;
    border-top:3px solid #E3CAA5 ;
    border-bottom:3px solid #E3CAA5 ;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    letter-spacing: .9375rem;
}

.quien h2{
    color: #FFFBE9;
font-size: 1.75rem ;
padding: 1.25rem;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 2px 2px 4px black;
text-align: justify;
}

.quien p{
    color: #FFFBE9;
font-size: 1.25rem ;
padding: 1.25rem;
padding-left: 2rem;
padding-right: 2rem;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 2px 2px 4px black;
text-align: justify;
}
.bandas h2{
    color: #FFFBE9;
font-size: 1.75rem ;
padding: 1.25rem;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 2px 2px 4px black;
text-align: justify;
}
.guardaCards{
    display: flex;
    flex-direction:column ;
    padding: 40px;
    gap: 1.25rem;
}
.guardaCards div{
    width: 100%;
    height: 20rem;
}
    
.card img{
    width: 18rem;
    height: 18rem;
    object-fit: contain;
    border:2px solid #FFFBE9;
    margin: 10px
    
}
.card h3{
    color: #FFFBE9;
    font-size: 1.25rem;
    padding-top: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px black;
    text-align: justify;
    text-decoration: underline;
    

    
}


.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.titex{
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    justify-content: start;
}
.titex p{
    color: #FFFBE9;
font: size 15px; ;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 2px 2px 4px black;
text-align: justify;
}

.albumes{
    display: grid;
    grid-template-areas: 
    "a1 a2 a2"
    "b1 b1 b2"
    "c1 c2 c2"
    "d1 d1 d2"
    ;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    row-gap: .625rem;
    
    column-gap: 1.25rem;
    padding: 1.25rem;
    align-items: center;

}

#diamante{
    grid-area: a1;
    height: 18.75rem;
    width: 18.75rem;
       
}
div #albumDiamante{
    grid-area: a2;
}
#albumCielo{
    grid-area: b1;
}
#cielo{
    grid-area: b2;
    height: 18.75rem;
    width: 18.75rem;

}
#belgrano{
    grid-area: c1;
    height: 18.75rem;
    width: 18.75rem;

}
#albumBelgrano{
    grid-area: c2;

}
#albumMadre{
    grid-area: d1;
}
#madre{
    grid-area: d2;
    height: 18.75rem;
    width: 18.75rem;

}
#sectionDesierto{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    padding: 1.875rem;
    
}

.albumDesierto{
    height: 43.75rem;
    width: 43.75rem;
}
.albumDesierto img{
    height: 50%;
    width: 100%;
    object-fit: contain;    
}

.h3Desierto{
    color: #FFFBE9;
    font-size: 1.25rem;
    padding-top: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px black;
    text-align: justify;
    text-decoration: underline;
}
.pDesierto{
    color: #FFFBE9;
font: size 15px; ;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 2px 2px 4px black;
text-align: justify; 
}

.titex button{
    width: 18.75rem;
    background-color:#AD8B73;
    border: 2px solid #E3CAA5;

}
.titex button a{
    text-decoration: none;

}