@media (max-width: 768px){
    .navBar{
        
        
        a{
            font-size: 15px;
        }        
    }
    .card{
        img{
            width: 16rem;
            height: 16rem;
        }
    }
    .titex{
        p{
            font-size: 15px;
        }

    }
}



